/*-----------------
	19. Chat
-----------------------*/

.chat-avatar-sm {
    display: inline-block;
    float: left;
    margin-left: 0 !important;
    margin-right: 10px;
    position: relative;
    width: 24px;
}
.chat-avatar-sm img {
	width:24px;
}
.chat-avatar-sm.user-img .status {
	bottom: 0;
	right: -3px;
}
.chat-main-row {
	bottom: 0;
	left: 0;
	overflow: auto;
	padding-bottom: inherit;
	padding-top: inherit;
	position: absolute;
	right: 0;
	top: 0;
}
.chat-main-wrapper {
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}
.message-view {
	display: table-cell;
	height: 100%;
	float: none;
	padding: 0;
	position: static;
	vertical-align: top;
	width: 75%;
}
.chat-window {
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
	background-color: #23272b;
}
.fixed-header {
	background-color: #353c48;
	border-bottom: 1px solid #353c49;
	padding: 10px 15px;
	
}
.fixed-header .navbar {
	border: 0 none;
	margin: 0;
	min-height: auto;
	padding: 0;
}
.fixed-header .user-info a {
	color: #76838f;
	text-transform: uppercase;
    font-family: Roboto,sans-serif;    
	font-size: 13px;    
	font-weight:400; 
    vertical-align: middle;
}
.typing-text {
	color: #ff9b44;
	font-size: 12px;
	text-transform: lowercase;
}
.last-seen {
	color: #a3afb7;
	display: block;
	font-size: 12px;
}
.custom-menu {
	margin-top: 6px;
}
.fixed-header .custom-menu {
	margin: 0 0 1px;
}
.custom-menu.nav > li > a {
    color: #ff9b44;
    font-size: 26px;
    line-height: 32px;
    margin-left: 15px;
    padding: 0;
}
.custom-menu.navbar-nav > li > a:hover,
.custom-menu.navbar-nav > li > a:focus {
	background-color: transparent;
}
.custom-menu .dropdown-menu {
	left: auto;
	right: 0;
}
.search-box {
	margin-top: 5px;
}
.search-box .btn {
	color: #bbc4cc;
}
.search-box .input-group {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}
.search-box .input-group .form-control {
	background: transparent;
	border: none;
}
.search-box .btn {
	background-color: transparent;
}
.search-input {
	border-radius: 5px;
}
.chat-contents {
	display: table-row;
	height: 100%;
}
.chat-content-wrap {
	height: 600px;
	position: relative;
	width: 100%;
}
.chat-wrap-inner {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.chats {
	padding: 30px 15px;
}
.chat-body {
	display: block;
	margin: 10px 0 0;
	overflow: hidden;
}
.chat-body:first-child {
	margin-top: 0
}
.chat-right .chat-content {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px 2px 2px 20px;
    clear: both;
    color: #fff;
    display: block;
    float: right;
    margin: 0;
    max-width: 60%;
    padding: 8px 15px;
    position: relative;
}
.chat-right .chat-body {
	padding-left: 48px;
	padding-right: 10px;
}
.chat-bubble {
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.chat-bubble:hover .chat-action-btns {
	display: block;
	float: left;
}
.chat-right .chat-bubble:hover .chat-action-btns {
	float: right;
	display: block;
}
.chat.chat-right .chat-bubble:last-child .chat-content {
	border-bottom-right-radius: 20px;
}
.chat.chat-right .chat-bubble:first-child .chat-content {
	border-top-right-radius: 20px;
}
.chat-content > p {
	margin-bottom: 0;
}
.chat-time {
	color: #fff; /*rgba(255, 255, 255, 0.6);*/
	display: block;
	font-size: 12px;
}
.chat-right .chat-time {
	text-align: right;
}
.chat-bubble .chat-action-btns {
	display: none;
}
.chat-action-btns {
	float: right;
}
.chat-action-btns ul {
	list-style: none;
	padding: 0;
	margin: 15px 15px 0 15px;
}
.chat-action-btns ul > li {
	display: inline-block;
	margin-left: 5px;
	font-size: 18px;
}
.chat-right .chat-action-btns {
	float: left;
}
.chat-bubble .chat-action-btns a {
	color: #8c8c8c;
}
.chat-line {
	border-bottom: 1px solid #2e3840;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}
.chat-date {
	background-color: #23272b;
	color: #fff;
	font-size: 12px;
	padding: 0 11px;
}
.chat-avatar {
	float: right;
}
.chat-avatar .avatar {
	line-height: 30px;
	height: 30px;
	width: 30px;
}
.chat-left .chat-avatar {
	float: left
}
.chat-left .chat-body {
	margin-right: 0;
	margin-left: 30px;
	padding-right: 20px;
}
.chat-left .chat-content {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.4);
	color: #76838f;
	float: left;
	position: relative;
	padding: 8px 15px;
	border-radius: 2px 20px 20px 2px;
	max-width: 60%;
}
.avatar {
	background-color: #101010;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	height: 38px;
	line-height: 38px;
	margin: 0 10px 0 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 38px;
	position: relative;
	white-space: nowrap;
}
.avatar:hover {
	color: #fff;
}
.avatar.avatar-xs {
	width: 24px;
	height: 24px
}
.avatar > img {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    width: 100%;
}
.chat.chat-left .chat-bubble:first-child .chat-content {
	border-top-left-radius: 20px;
	margin-top: 0;
}
.chat.chat-left .chat-bubble:last-child .chat-content {
	border-bottom-left-radius: 20px;
}
.chat-left .chat-time {
	color: #ffffff !important;
}
.attach-list {
	color: #adb7be;
	padding: 5px 0 0;
	line-height: 24px;
	margin: 0;
	list-style: none;
}
.attach-list i {
	margin-right: 3px;
	font-size: 16px;
}
.chat-footer {
	background-color: #2e3439;
	border-top: 1px solid #2e3840;
	padding: 15px;
}
.message-bar {
	display: table;
	height: 44px;
	position: relative;
	width: 100%;
}
.message-bar .message-inner {
	display: table-row;
	height: 100%;
	padding: 0 8px;
	width: 100%;
}
.message-bar .link {
	color: #777;
	display: table-cell;
	font-size: 20px;
	padding: 0 10px;
	position: relative;
	vertical-align: middle;
	width: 30px;
}
.message-bar .message-area {
	display: table-cell;
}
.message-area .input-group .form-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 44px;
    margin: 0;
    padding: 6px 12px;
    resize: none;
}
.message-area .btn {
	height: 44px;
	width: 50px;
}
.profile-right {
	display: table-cell;
	height: 100%;
	float: none;
	padding: 0;
	position: static;
	vertical-align: top;
}
.display-table {
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	height: 100%;
}
.table-row {
	display: table-row;
	height: 100%;
}
.table-body {
	position: relative;
	height: 100%;
	width: 100%;
}
.table-content {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.chat-profile-img {
	padding: 30px;
	position: relative;
	text-align: center;
}
.edit-profile-img {
	height: 120px;
	margin: 0 auto;
	position: relative;
	width: 120px;
	cursor: pointer;
}
.edit-profile-img img {
	border-radius: 50%;
	height: auto;
	margin: 0;
	width: 120px;
}
.change-img {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	color: #fff;
	display: none;
	height: 100%;
	left: 0;
	line-height: 120px;
	position: absolute;
	top: 0;
	width: 100%;
}
.edit-profile-img:hover .change-img {
	display: block;
}
.edit-profile-img img {
	height: auto;
	margin: 0;
	width: 120px;
	border-radius: 50%;
}
.user-name {
	color: #bbc4cc;
}
.edit-btn {
	border-radius: 40px;
	height: 36px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 36px;
}
.chat-profile-info {
	padding: 15px;
}
.user-det-list {
	list-style: none;
	padding: 0;
}
.user-det-list > li {
	padding: 6px 15px;
}
.user-det-list .text-muted {
	color: #888;
}
.transfer-files .tab-content {
	padding-top: 0;
}
.files-list {
	list-style: none;
	padding-left: 0;
}
.files-list > li {
	border-bottom: 1px solid #2e3439;
	border-radius: inherit;
	margin: 2px 0 0;
	padding: 10px;
}
.files-cont {
	position: relative;
}
.file-type {
	height: 48px;
	position: absolute;
	width: 48px;
}
.files-icon {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	width: 38px;
}
.files-icon i {
	color: #bbc4cc;
	font-size: 20px;
}
.files-info {
	padding: 0 30px 0 50px;
}

.file-name a {
	color: #bbc4cc;
}
.files-action {
	display: none;
	height: 30px;
	list-style: none;
	padding-left: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 10px;
	width: 30px;
}
.files-list > li:hover .files-action {
	display: block;
}
.file-date {
	color: #888;
	font-size: 12px;
}
.file-author a {
	color: #ff9b44;
	font-size: 12px;
	text-decoration: underline;
}
.files-action .dropdown-menu {
	left: auto;
	right: 0;
}
.files-action > li > a {
	color: #777;
}
.chat-img-attach {
	border-radius: 4px;
	margin-bottom: 12px;
	margin-left: 12px;
	position: relative;
	float: right;
}
.chat-img-attach img {
	border-radius: 4px;
	display: inline-block;
	height: auto;
	max-width: 100%;
}
.chat-placeholder {
	background: rgba(69, 81, 97, 0.6);
	border-radius: 4px;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	left: 0;
	padding: 13px;
	position: absolute;
	top: 0;
	width: 100%;
}
.chat-img-name {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
}
.chat-file-desc {
	font-size: 11px;
}
.chat-right .chat-content.img-content {
	background-color: transparent;
	border: 0;
	color: #76838f;
	padding: 0;
	text-align: right;
}
.chat-right .img-content .chat-time {
	color: #fff;
}
.chat-left .chat-img-attach {
	float: left;
}
.chat-left .chat-img-attach {
	float: left;
	margin-left: 0;
	margin-right: 12px;
}
.input-group .form-control-lg.form-control {
	border-radius: 4px 0 0 4px;
	height: 46px;
}
.chat-user-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat-user-list .media {
	border-bottom: 1px solid #2e3439;
	border-radius: inherit;
	padding: 10px;
	background-color: #2e3439;
}
.chat-user-list .media:hover {
    background-color: #f7f7f7;
}
.designation {
	color: #9e9e9e;
	font-size: 12px;
}
.online-date {
	color: #9e9e9e;
	font-size: 12px;
}
.drop-zone {
	width: 100%;
	height: 205px;
	border: 2px dashed #adb7be;
	text-align: center;
	padding: 25px 0 0;
	margin-bottom: 20px;
}
.drop-zone .drop-zone-caption {
	font-weight: 600;
}
.upload-list {
	padding: 0;
	list-style: none;
	margin: 0;
}
.upload-list .file-list {
	background-color: #2e3439;
	border-top: 1px solid #2e3840;
	padding: 10px 0;
}
.upload-list .file-list:first-child {
	border-top: none
}
.upload-list .upload-wrap {
	position: relative;
	padding: 0 20px 0 0;
	margin: 0 0 5px
}
.upload-list .file-name,
.upload-list .file-size {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}
.upload-list .file-name {
	padding-right: 15px;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis
}
.upload-list .file-size {
	color: #888;
}
.upload-list .file-close {
	border: none;
	background: none;
	color: #dbe4ea;
	position: absolute;
	right: 0;
	top: 2px;
}
.upload-list .file-close:hover {
	color: #f62d51
}
.upload-list .upload-process {
	font-size: 10px;
	color: #888;
}
.upload-list .progress {
	margin-bottom: 5px;
}
.upload-list .file-name i {
	color: #fda75c;
	margin: 0 5px 0 0;
	vertical-align: middle;
}
.upload-drop-zone {
    background-color: #2e3439;
    border: 2px dashed #adb7be;
    color: #ccc;
    height: 200px;
    line-height: 200px;
    margin-bottom: 20px;
    text-align: center;
}
.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}
.upload-text {
	font-size: 24px;
	margin-left: 10px;
}
.files-share-list {
	border: 1px solid #eaeaea;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 15px;
}
.modal .chat-user-list .media {
    border-bottom: 1px solid #eaeaea;
    border-radius: inherit;
    padding: 10px;
    background-color: #fff;
}
.modal .chat-user-list .media:hover {
    background-color: #f7f7f7;
}
.modal .chat-user-list .media .user-name {
    color: #333;
}

